.d-flex-ac {
    display: flex;
    align-items: center;
}

.d-flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mt-32 {
    margin-top: 32px;
}

.modal-actions {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 18px 0px;
    background-color: rgba(243, 243, 243, 0.2);
    border-radius: 0px 0px 8px 8px;

    .action-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .btn {
            border-radius: 8px;
            padding: 8px;
            border-color: transparent;
            cursor: pointer;
            letter-spacing: 1.5px;

            &.cancel {
                margin-right: 8px;
                background: transparent;
            }

            &.submit {
                width: 120px;
                margin-right: 24px;
                background: rgb(103, 168, 203);
                color: #fff;

                &:disabled {
                    border: 1px solid #999999;
                    background-color: #cccccc;
                    color: #666666;
                }
            }
        }
    }
}

.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0);
    z-index: 1;
    display: flex;

    .modal-background {
        background: rgba(0, 0, 0, .8);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .modal {
            background: white;
            width: 320px;
            height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 8px;
            padding: 24px;
            position: relative;

            .modal-header {
                h3 {
                    margin: 0px;
                }

                .btn-close {
                    background: rgba(228, 79, 79, 0.885);
                    color: #fff;
                    border: 0;
                    border-radius: 50%;
                    cursor: pointer;
                    width: 35px;
                    height: 35px;
                    padding: 4px;
                    font-size: 1rem;
                }
            }

            .modal-content {
                margin-top: 32px;
                height: 100%;
                width: 100%;
            }
        }
    }

    &.active {
        z-index: 0;
        transform: scale(1);

        .modal-background {
            background: rgba(0, 0, 0, .0);
            animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

            .modal {
                transform: translateX(-1500px);
                animation: roadRunnerIn .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
        }
    }

    &.out {
        animation: quickScaleDown 0s .5s linear forwards;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1.5s, visibility 1.5s;

        .modal-background {
            animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

            .modal {
                animation: roadRunnerOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, .0);
    }

    100% {
        background: rgba(0, 0, 0, .7);
    }
}

@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, .7);
    }

    100% {
        background: rgba(0, 0, 0, .0);
    }
}

@keyframes quickScaleDown {
    0% {
        transform: scale(1);
    }

    99.9% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}


@keyframes roadRunnerIn {
    0% {
        transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
    }

    70% {
        transform: translateX(30px) skewX(0deg) scaleX(.9);
    }

    100% {
        transform: translateX(0px) skewX(0deg) scaleX(1);
    }
}

@keyframes roadRunnerOut {
    0% {
        transform: translateX(0px) skewX(0deg) scaleX(1);
    }

    30% {
        transform: translateX(-30px) skewX(-5deg) scaleX(.9);
    }

    100% {
        transform: translateX(1500px) skewX(30deg) scaleX(1.3);
    }
}